<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haowq.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.haowq.entity.Order">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="orderName" jdbcType="VARCHAR" property="orderName" />
  </resultMap>
  <insert id="insert" parameterType="com.haowq.entity.User">
    insert into order.order (id, orderName
      )
    values (#{id,jdbcType=INTEGER}, #{orderName,jdbcType=VARCHAR}
      )
  </insert>

</mapper>